.signUp {

}
/* Small screens (up to 767px) */
@media only screen and (max-width: 767px) {
    .signUp {
        height: 90vh;
    }
  }
.signUp .container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.signUp .container h1{
    margin-bottom:3rem;
    color: var(--main-color);
    font-weight: 700;
    letter-spacing: 2px;
}
.signUp .container form{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* Small screens (up to 767px) */
@media only screen and (max-width: 767px) {
    .signUp .container form{
        width: 80%;
    }
  }

.signUp .container form div{
    width: 100%;
}
.signUp .container form input {
    margin-bottom:1rem;
    padding: 1.5rem;
    border: none;
    border-left: 6px solid var(--main-color);
    background-color: #d0bbe766;
    transition: var(--main-transition) ;
}
.signUp .container form input::placeholder {
    color: var(--second-color);
}

.signUp .container form input:focus {
    border-width: 10px;
}
/* Small screens (up to 767px) */
@media only screen and (max-width: 767px) {
    .container {
      width: 90%;
    }
  }
  
  /* Medium screens (768px - 991px) */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
      width: 85%;
    }
  }
  
  /* Large screens (992px and up) */
  @media only screen and (min-width: 992px) {
    .container {
      width: 80%;
    }
  }