nav {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    box-shadow: 0 0 10px #ddd;
    position: fixed;
    top: 0;
    z-index: 10000000;
    background-color: #ffff;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    nav .container {

        font-size: 1.2rem;
    }
  }
nav .container .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
/* Small screens (up to 767px) */
@media only screen and (max-width: 767px) {
    nav .container .nav-links {
    display: none;
    
    }
  }
nav .container .nav-links li a{
    text-transform: capitalize;
    color: var(--main-color);
    transition: var(--main-transition);
}
nav .container .nav-links li a:hover{
    color:var(--second-color)
}   
nav .container .nav-links li:not(:last-child) {
    margin-right: 25px;
}

nav .container .logo {
    width: 15%;
    display: flex;
}
/* Small screens (up to 767px) */
@media only screen and (max-width: 767px) {
    nav .container .logo {
        width: 50%;
        display: flex;
    }
  }
nav .container .logo img {
    width: 100%;
}