.AboutUs-section {}

.AboutUs-section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.AboutUs-section .container .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}
@media only screen and (max-width: 767px) {
    .AboutUs-section .container .content {
        text-align: center;
    }
  }
@media only screen and (max-width: 1446px) {
    .AboutUs-section .container .content {
        grid-template-columns:1fr;
        gap: 2rem;
        }
  }
.AboutUs-section .container .content .left h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: var(--main-color);
}
@media only screen and (max-width: 767px) {
    .AboutUs-section .container .content .left h2 {
        font-size: 2rem;
    }
  }
.AboutUs-section .container .content .left h2 span{
    color: var(--second-color);
    font-size: 3.3rem;
}
@media only screen and (max-width: 767px) {
    .AboutUs-section .container .content .left h2 span{
        font-size: 2.3rem;
    }
  }
.AboutUs-section  .container .content .left p{
    font-size: 1.2rem;
    
}
  /* Medium screens (768px - 991px) */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .AboutUs-section  .container .content .left p{
        font-size: 1rem;
    }
  }
.AboutUs-section .container .content .right {
    width: 100%;
    overflow: hidden;
}

.AboutUs-section .container .content .right img {
    width: 100%;

    transition: var(--main-transition);
    transform: scale(1);
}

.AboutUs-section .container .content:hover .right img {
    transform: scale(1.05);
}