.team-section{
width: 100%;
}
.team-section .container{
    
}
.team-section .container .cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
.team-section .container .cards .member-card{
    display: flex;
    padding: 2rem;
    justify-content: center;
    flex-direction: column;
    border: 2px dashed var(--second-color);
}
.team-section .container .cards .member-card .content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 0;
}
.team-section .container .cards .member-card .member-img{
    width: 250px;
}
.team-section .container .cards .member-card .member-img img{
width: 100%;
}
